@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* Custom CSS for list with Roman numerals */
.list-roman {
    list-style-type: none;
    counter-reset: roman-counter;
}

.list-roman li {
    counter-increment: roman-counter;
}

.list-roman li::before {
    content: counter(roman-counter, upper-roman) ". ";
    font-weight: bold;
}